@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

:root{
--vinho:#2B0505;
--bege:#EAD7C0;
}

body{

background:#f5f5f5;

font-family:'Poppins', sans-serif;

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding:20px;

}

form{

background:white;

padding:50px;

border-radius:30px;

box-shadow:0 10px 30px rgba(0,0,0,0.12);

width:100%;
max-width:450px;

display:flex;
flex-direction:column;

}

h1{

font-family:'Playfair Display', serif;

font-size:55px;

color:var(--vinho);

text-align:center;

margin-bottom:35px;

}

input{

width:100%;

padding:18px;

border:2px solid #ddd;

border-radius:15px;

font-size:16px;

font-family:'Poppins', sans-serif;

margin-bottom:20px;

transition:0.3s;

}

input:focus{

outline:none;

border-color:var(--vinho);

}

button{

background:var(--vinho);

color:var(--bege);

border:none;

padding:18px;

border-radius:15px;

font-size:18px;

font-weight:600;

cursor:pointer;

transition:0.3s;

margin-top:10px;

}

button:hover{

transform:translateY(-3px);

opacity:0.95;

}