*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#E6D2B5;
    font-family:'Poppins', sans-serif;
}

header{
    background:#2B0505;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

#foto-logo{
    width: 120px;
}

.logo{
    color:#fff;
}

.logo h2{
    font-family:'Playfair Display', serif;
    font-size:32px;
}

.logo p{
    letter-spacing:4px;
    font-size:12px;
}

#foto-inicio{
    width: 600px;
}

.buttons-header{
    display:flex;
    gap:20px;
}

.btn-light{
    background:#E6D2B5;
    color:#2B0505;
    border:none;
    padding:15px 30px;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
    font-weight:500;
}

.btn-dark{
    background:#2B0505;
    color:#fff;
    border:1px solid #E6D2B5;
    padding:15px 30px;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
    font-weight:500;
}

.hero{
    background:#2B0505;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px 50px;
    gap:40px;
}

.hero-text{
    width:50%;
    color:white;
}

.hero-text h3{
    font-size:22px;
    margin-bottom:20px;
    font-family:'Playfair Display', serif;
}

.hero-text h1{
    font-size:62px;
    line-height:1.2;
    margin-bottom:25px;
    font-family:'Playfair Display', serif;
}

.hero-text p{
    font-size:18px;
    line-height:1.8;
    margin-bottom:35px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.hero-image{
    width:50%;
}

.hero-image img{
    width:100%;
    border-radius:10px;
}

.areas{
    padding:70px 50px;
    text-align:center;
}

.areas h2{
    font-size:50px;
    margin-bottom:50px;
    color:#2B0505;
    font-family:'Playfair Display', serif;
}

.cards{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:350px;
    padding:40px 30px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

.card h3{
    color:#2B0505;
    font-size:42px;
    margin-bottom:25px;
    font-family:'Playfair Display', serif;
}

.card p{
    color:#6b6b6b;
    line-height:1.8;
    font-size:17px;
}

@media(max-width:1000px){

    .hero{
        flex-direction:column;
    }

    .hero-text,
    .hero-image{
        width:100%;
    }

    .hero-text h1{
        font-size:45px;
    }

    header{
        flex-direction:column;
        gap:20px;
    }

    .buttons-header{
        flex-direction:column;
        width:100%;
    }

    .btn-light,
    .bstn-dark{
        width:100%;
    }

}
